page-about {

  .about-header {
    background-color: color($colors, light);
    padding: 16px;
    width: 100%;
    text-align: center;
  }

  .about-header img {
    padding: 25px 10px;
    min-height: 115px;
    max-height: 200px;
  }

  @media screen and (max-width: 576px) {

    .about-header img {
      padding: 0;
      max-height: 100px;
    }
    
  }
  .about-info {
    font-size: 1.1em;

    .description {
      color: color($colors, darkgray);
    }

    .quote {
      color: color($colors, midgray);
      border-left: color($colors, midgray) 0.25em solid;
      padding-left: 0.75em;
      font-style: italic
    }

  }

  .version {
    position: relative;
    padding: 2em;
    float: right;
    font-size: 10px;
    color: color($colors, lightgray);
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
  }

}