<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Play with NoMoTS api!</ion-title>
  </ion-navbar>
</ion-header>



<ion-content  center-children padding-vertical bg-light scrollbar-y-auto>
  
  <!-- API request selection -->
  <div class="selections" margin-bottom main-column>
    
    <ion-item>
      <ion-label [color]="(!selectedEndpoint) ? 'primary' : ''" narrow>Endpoint</ion-label>
      <ion-select [ngModel]="selectedEndpoint" (ngModelChange)="onEndpointChange($event)" interface="popover">
        <ion-option *ngFor="let endpoint of apiSchema | objectKeyValue" value="{{endpoint.key}}">
          {{endpoint.key}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label [color]="(selectedEndpoint && !selectedMethod) ? 'primary' : ''" narrow>Method</ion-label>
      <ion-select [ngModel]="selectedMethod" (ngModelChange)="onMethodChange($event)" interface="popover">
        <div *ngIf="selectedEndpoint">
          <ion-option *ngFor="let method of apiSchema[selectedEndpoint] | objectKeyValue" value="{{method.key}}">
            {{method.key.toUpperCase()}}
          </ion-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item text-wrap no-border-bottom>
      <ion-label pin-top narrow gray>Description:</ion-label>
      <ion-label text-right>{{selectedDescription}}</ion-label>
    </ion-item>

  </div>
  

  <!-- API request properties form -->
  <form *ngIf="selectedMethod" #propertiesForm="ngForm"
        cool-hack-to-reset-ngforms-submitted-state="propertiesForm.submitted = false"
        novalidate main-column padding-bottom>
    <div *ngFor="let prop of apiSchema[selectedEndpoint][selectedMethod]['properties'] | objectKeyValue">
      
      <!-- For each property render a label, a note and an input field -->
      <ion-item *ngIf="prop.key !== 'benef_owners'">
        <ion-label *ngIf="propertiesForm.controls[prop.key]"
                    [color]="(prop.value.required && propertiesForm.controls[prop.key].invalid) ? 'primary' : ''">
          {{prop.key}}
        </ion-label>
        <ion-note *ngIf="(!prop.value.required) && (selectedMethodProps[prop.key] === '')"
                  item-end>
          Optional
        </ion-note>
        <ion-note *ngIf="propertiesForm.controls[prop.key]"
                  [hidden]="(! propertiesForm.submitted) || propertiesForm.controls[prop.key].valid"
                  color="danger" item-end>
          Required
        </ion-note>
        <ion-input [(ngModel)]="selectedMethodProps[prop.key]" name="{{prop.key}}" type="text" 
                    #{{prop.key}}="ngModel" spellcheck="true" autocapitalize="on"
                    [required]="prop.value.required" clearInput>
        </ion-input>
      </ion-item>

      <!-- Do custom stuff because company owners is an array of strings -->
      <!-- First select how many benefeciarys we want to type in -->
      <ion-item *ngIf="prop.key === 'benef_owners'">
        <ion-label [color]="(prop.value.required) ? 'primary' : ''">
          {{prop.key}} (select count)
        </ion-label>
        <ion-note *ngIf="(!prop.value.required) && (benefCount === undefined)"
                  item-end>
          Optional
        </ion-note>
        <ion-note *ngIf="propertiesForm.controls[prop.key]"
                  [hidden]="(! propertiesForm.submitted) || propertiesForm.controls[prop.key].valid"
                  color="danger" item-end>
          Required
        </ion-note>
        <ion-select [(ngModel)]="benefCount" name="benefCount" interface="popover">
          <ion-option *ngFor="let i of getArrayOfSize(6)"
                      value="{{i}}">
            {{i}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Then create an input field for each beneficiary, as selected above -->
    <ion-item *ngFor="let j of getArrayOfSize(benefCount)">
      <ion-label>
        Beneficiary name {{j+1}}
      </ion-label>
      <ion-input  *ngIf="apiSchema[selectedEndpoint][selectedMethod]['properties']['benef_owners']"
                  [(ngModel)]="selectedMethodProps['benef_owners'][j]" name="{{j}}" type="text" 
                  #{{j}}="ngModel" spellcheck="true" autocapitalize="on"
                  [required]="apiSchema[selectedEndpoint][selectedMethod]['properties']['benef_owners'].required" clearInput>
      </ion-input>
    </ion-item>

    <div padding-vertical margin-top center-children>
      <button [disabled]="propertiesForm.invalid" ion-button icon-start 
              (click)="onSendRequest()" type="submit">
        <ion-icon name="paper-plane"></ion-icon>
        Send Request
      </button>
    </div>
  </form>


  <!-- API response if successfull -->
  <div *ngIf="response && response.message" class="response message" main-column bg-white border-round>
    <pre>
      {{response.message | json}}
    </pre>
  </div>


  <!-- API response if error -->
  <div *ngIf="response && response.error" class="response error" main-column bg-white border-round>
    <pre>
      {{response.error}}
    </pre>
  </div>

</ion-content>
