<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Play with NoMoTS api!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  center-children padding-vertical bg-light scrollbar-y-auto>
  
  <!-- API request selection -->
  <div class="selections card" margin-bottom main-column>
    <ion-item>
      <ion-label [color]="(!selectedEndpoint) ? 'primary' : ''" narrow>Endpoint</ion-label>
      <ion-select [ngModel]="selectedEndpoint" (ngModelChange)="onEndpointChange($event)" interface="popover">
        <ion-option *ngFor="let endpoint of apiSchema | objectKeyValue" value="{{endpoint.key}}">
          {{endpoint.key}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label [color]="(selectedEndpoint && !selectedAction) ? 'primary' : ''" narrow>Action</ion-label>
      <ion-select [ngModel]="selectedAction" (ngModelChange)="onActionChange($event)" interface="popover">
        <div *ngIf="selectedEndpoint">
          <ion-option *ngFor="let action of apiSchema[selectedEndpoint] | objectKeyValue" value="{{action.key}}">
            {{action.key.toUpperCase()}}
          </ion-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item text-wrap no-border-bottom>
      <ion-label pin-top narrow gray>Description:</ion-label>
      <ion-label text-right>{{selectedDescription}}</ion-label>
    </ion-item>
  </div>

  <!-- API request configuration -->
  <form *ngIf="selectedAction" #propertiesForm="ngForm"
        cool-hack-to-reset-ngforms-submitted-state="propertiesForm.submitted = false"
        novalidate class="card" main-column padding-bottom margin-bottom>
    <div padding-bottom>
      <ion-item *ngFor="let prop of apiSchema[selectedEndpoint][selectedAction]['properties'] | objectKeyValue">
        <ion-label *ngIf="propertiesForm.controls[prop.key]"
                    [color]="(prop.value.required && propertiesForm.controls[prop.key].invalid) ? 'primary' : ''">
          {{prop.key}}
        </ion-label>
        <ion-note *ngIf="(!prop.value.required) && (selectedActionProps[prop.key] === '')" item-end>
          Optional
        </ion-note>
        <ion-note *ngIf="propertiesForm.controls[prop.key]"
                  [hidden]="(! propertiesForm.submitted) || propertiesForm.controls[prop.key].valid"
                  color="danger" item-end>
          Required
        </ion-note>
        <!--TODO delete name=??-->
        <ion-input [(ngModel)]="selectedActionProps[prop.key]" name="{{prop.key}}" type="text" 
                    #{{prop.key}}="ngModel" spellcheck="false" autocapitalize="off"
                    [required]="prop.value.required" clearInput>
        </ion-input>
      </ion-item>
    </div>

    <div padding-vertical center-children>
      <button [disabled]="propertiesForm.invalid" ion-button icon-start 
              (click)="onSendRequest()" type="submit" shadow-none>
        <ion-icon name="paper-plane"></ion-icon>
        Send Request
      </button>
    </div>
    <div *ngIf="apiSchema[selectedEndpoint][selectedAction]['properties'].length === 0" padding-top></div>
  </form>

  

  
  <!-- Prettyfied JSON response -->

</ion-content>
