page-companies {

  .selections {
    flex-direction: column;

    ion-select {
      max-width: 200px;
      margin-left: auto;
    }
  }

  [pin-top] {
    margin-bottom: auto;
  }

  [narrow] {
    max-width: 90px;
  }

  .item-md [gray],
  .item-wp [gray] {
    color: #999;
  }

  .bg-white {
    background-color: white !important;
  }
}
