page-companies {

  [no-border-bottom] div {
    border-bottom: 0px !important;
  }

  .card {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .selections {
    flex-direction: column;

    ion-select {
      max-width: 200px;
      margin-left: auto;
    }
  }

  [pin-top] {
    margin-bottom: auto;
  }

  [narrow] {
    max-width: 95px;
  }

  .item-md [gray],
  .item-wp [gray] {
    color: #999;
  }

  .bg-white {
    background-color: white !important;
  }
}
